<div class="principalBox">
<form action="/uploadPhoto" method="post" enctype="multipart/form-data">
    <!-- Resto de los campos del formulario -->

    <input type="file" name="photo" accept="image/*">
    <button type="submit">Subir Foto</button>
</form>

<div class="photo-section">
    {{#if cloudinaryImageUrl}}
        <img src="{{cloudinaryImageUrl}}" alt="Foto de perfil">
    {{else}}
        <!-- Agrega una imagen por defecto cuando cloudinaryImageUrl está vacío -->
        <img class="icon" src="./img/666201.png" alt="Imagen por defecto">
    {{/if}}
</div>

<div id="BottomInfo">
{{>editInfo}}
</div>

<h1>Bienvenido {{user.username}}!</h1>

<p>Apodo: {{user.username}}</p>
<p>Correo electrónico: {{user.email}}</p>
<p>Estudios Universitarios: {{user.universityStudies}}</p>
<p>Trayectoria Profesional: {{user.professionalPath}}</p>
<p>Colegio: {{user.school}}</p>
<p>Zonas de Ocio: {{user.leisureAreas}}</p>

<div class="boxComment"></div>

{{#each user.posts as |post|}}
  <div class="post">
    <p>{{post.body}}</p>
    <p>Foto: {{post.photo}}</p>
    <p>Fecha de creación: {{post.createdAt}}</p>
  </div>
{{/each}}

<!-- Formulario para agregar comentarios -->
<form action="/add-comment" method="POST">
  <textarea name="comment" placeholder="Escribe un comentario"></textarea>
  <button type="submit">Comentar</button>
</form>

</div>